/*Imports*/
    //#110038 - Night
    //#FFF4FD - Day
/**/
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,500,600,700&display=swap');

/*Variables*/
$urlLoadingImg: url("/assets/loading-gif-transparent.gif");
$day_title_background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$text_color: white;
$day_general_background: #FFF4FD;
$night_general_background: #110038;
$backgroudColor_btn:#F7C9F3;
$familyType: 'Chakra Petch';


/*General Styles*/
*{
    margin-left: 0px;
    margin-top: 0px;
    padding: 0;
    border: 0;
    color: $text_color;
    background-image: $day_general_background;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: $familyType;
}
.container{
    /*background-color: gray;*/
    width: 100.6%;
    height: auto;
    
    .box_title{
        width: 100%;
        height: 23px;
        background-image: $day_title_background;
        box-shadow: 0 1px 0 0 #110038;
        display: table;
        padding-left: 0.5%;
        p{
            display: table-cell;
            vertical-align: middle;    
            font-size: 12px;
            color: #FFFFFF; 
            letter-spacing: 0;
            font-weight: 400;
        }
    }
    .sub_container{
        width: 90%;
        height: auto;
        margin: 0 auto;
        .header{
            width: 100%;
            height: 100px;
            margin: 0 auto;
            position: relative;
            display: flex;
            .btn_headers{
                position: absolute;
                margin-top: 2.7%;
                /*width: 700px;*/
                left: 700px;
                .btn_createGifo, .btn_chooseThem, .btn_misGifos, .btn_downArrow, .btn_misGifos, .dropdown-content{
                    background-color: $backgroudColor_btn;
                    display: left;
                    color: black;
                    border: 1px solid #110038;
                    height: 36px;
                    line-height: 18px;
                    letter-spacing: 0;
                    text-align: center;
                    font-size: 16px;
                }
                .dropdown{
                    position: absolute;
                    left: 260px;
                    width: 165px;
                    
                   .btn_chooseThem{
                        position: absolute;
                        width: 131px;
                        right: 34px;
                    }
                    .btn_downArrow{
                        width: 36px;                    
                        position: absolute;
                        left: 130px;
                    }

                    .dropdown-content{
                        margin-top: 35px;
                        background-color: #E6E6E6;
                        
                        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0; 
                        height: 102px;
                        .dropdown-content a{
                            height: 100px;
                            color: #110038;
                            letter-spacing: 0;
                            line-height: 22px;
                        }
                    }
                }
                .btn_createGifo{
                    position: absolute;
                    width: 144px;
                    left: 100px;
                }
                .btn_misGifos{
                    position: absolute;
                    background-color: transparent;
                    margin-top: 3.2%;
                    left: 435px;
                    border: none;
                    width: 76px;
                }
            }
            .frameLogo{
                margin-right: 0;
                margin-left: 0;
                margin-top: 2.1%;
                margin-right: 47.6%;
            }
        }
        .searchs{
            width: 100%;
            height: 99px;
            background-color: magenta;
            .search_title{
                width: 100%;
                height: 20px;
                background-color: red;
            }
            .search{
                .in_search{
                    width: 100%;
                    height: 48px;
                    background-color: chartreuse;
                }
                .btn_search{
                    width: 100%;
                    height: 36px;
                    background-color: cyan;
                }
            }
        }
        .suggestions{
            .daily_suggest{
                width: 100%;
                height: 32px;
                background-color: grey;
            }
            .img_suggest{
                display: flex;
                background-color: aqua;
                .img_daily1, .img_daily2, .img_daily3, .img_daily4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    background-image: $urlLoadingImg;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                    margin: 1.3% auto;
                }
            }
        }
        .trending{
            width: 100%;
            height: auto;
            background-color: mediumorchid;
            .search_trending{
                width: 100%;
                height: 32px;
                background-color: purple;
            }
            .img_trending{
                display: flex;
                .img_trending1, .img_trending2, .img_trending3, .img_trending4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    background-image: $urlLoadingImg;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                    display: flex;
                    margin: 1.3% auto ;
                }
            }
        }
        .body{
            width: 100%;
            height: auto;
            background-color: midnightblue;
            .gifs{
                display: flex;
                .img_body1, .img_body2, .img_body3, .img_body4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    background-image: $urlLoadingImg;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                    display: flex;
                    margin: 1.3% auto ;
                }
            }
        }
    }
    
}

