/*Imports*/
    //#110038 - Night
    //#FFF4FD - Day
/**/
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,500,600,700&display=swap');

/*Variables*/
$urlLoadingImg: url("/assets/loading-gif-transparent.gif");
$day_title_background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$text_color: white;
$day_general_background: #FFF4FD;
$night_general_background: #110038;



/*General Styles*/
*{
    margin-left: 0px;
    margin-top: 0px;
    padding: 0;
    border: 0;
    color: $text_color;
    background-image: $day_general_background;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    background-color: gray;
    width: 100.6%;
    height: auto;
    
    .box_title{
        width: 100%;
        height: 23px;
        background-image: $day_title_background;
        box-shadow: 0 1px 0 0 #110038;
        display: table;
        padding-left: 0.5%;
        p{
            display: table-cell;
            vertical-align: middle;    
            font-family: 'Chakra Petch';
            font-size: 12px;
            color: #FFFFFF; 
            letter-spacing: 0;
            font-weight: 400;
        }
    }
    .sub_container{
        background-color: lightgreen;
        width: 90%;
        height: auto;
        margin: 0 auto;
        
        .header{
            width: 100%;
            height: 100px;
            background-color: lightskyblue;
            margin: 0 auto;
            position: relative;
            display: block;
            .logo{
                margin-top: 2.1%;
                left: 47.6%;
                display: flex;
            }
            .btn_createGifo, .btn_chooseThem{
                background-color: black;
                display: flex;
                margin: 0 auto;  
            }
            .btn_createGifo{
                position: absolute;
                width: 144px;
                height: 36px;
            }
            .btn_chooseThem{
                width: 131px;
                height: 36px;
            }
        }
        .searchs{
            width: 100%;
            height: 99px;
            background-color: magenta;
            .search_title{
                width: 100%;
                height: 20px;
                background-color: white;
            }
            .search{
                .in_search{
                    width: 100%;
                    height: 48px;
                    background-color: chartreuse;
                }
                .btn_search{
                    width: 100%;
                    height: 36px;
                    background-color: cyan;
                }
            }
        }
        .suggestions{
            .daily_suggest{
                width: 100%;
                height: 32px;
                background-color: blanchedalmond;
            }
            .img_suggest{
                display: flex;
                .img_daily1, .img_daily2, .img_daily3, .img_daily4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    margin: 1.3% auto;
                }
            }
        }
        .trending{
            width: 100%;
            height: auto;
            background-color: mediumorchid;
            .search_trending{
                width: 100%;
                height: 32px;
                background-color: blanchedalmond;
            }
            .img_trending{
                display: flex;
                .img_trending1, .img_trending2, .img_trending3, .img_trending4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    display: flex;
                    margin: 1.3% auto ;
                }
            }
        }
        .body{
            width: 100%;
            height: auto;
            background-color: midnightblue;
            .gifs{
                display: flex;
                .img_body1, .img_body2, .img_body3, .img_body4{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    display: flex;
                    margin: 1.3% auto ;
                }
            }
        }
    }
    
}

